@model IEnumerable<MonitoreoLogisticoClient.Models.Cliente>

@{
    ViewBag.Title = "Clientes";
}


@*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBK2dtqBK4ZsR1ybBGUJzVwpCMFUrFQdD4&libraries=drawing&callback=initMap"
        async defer></script>
<script type="text/javascript">
    function initMap() {
        var mapOptions = {
            center: { lat: -17.78218, lng: -63.17472 },
            zoom: 14
        }
        var map = new google.maps.Map(document.getElementById("map"), mapOptions);
    }

</script>*@


<h2>Listado de Clientes</h2>

<p>
    @Html.ActionLink("Create New", "AddorEdit")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreCompleto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UbicacionId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UbicacionId)
            </td>
            <td>
                @Html.ActionLink("Modificar", "AddorEdit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

@*<div id="map" style="height: 500px"></div>*@
