@model MonitoreoLogisticoClient.Models.Cliente

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>Esta seguro que desea eliminar este registro?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        @Html.HiddenFor(model => model.Id)

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApellidoPaterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApellidoPaterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApellidoMaterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApellidoMaterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Celular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Celular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UbicacionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UbicacionId)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.ciCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ciCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.celularCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.celularCliente)
        </dd>*@

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a Listado de Clientes", "Index")
        </div>
    }
</div>
