@model IEnumerable<MonitoreoLogisticoClient.Models.Dtos.OrdenEntrega_dto>

@{
    ViewBag.Title = "Ordenes de Entrega";
}

<h2>Listado de Ordenes de Entrega</h2>

<p>
    @Html.ActionLink("Crear Orden de Entrega", "AddorEdit")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FechaEmision)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NroFactura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prioridad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItinerarioId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItinerarioDescripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClienteId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClienteNombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FechaEmision)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NroFactura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prioridad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItinerarioId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItinerarioDescripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClienteId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClienteNombre)
        </td>
        <td>
            @Html.ActionLink("Modificar", "AddorEdit", new { id=item.Id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
